---
layout: default
title: Home
updated: 2023-02-28 12:50:03 +0000
---

<h1>Welcome</h1>

<p>I am David Strohmaier, a computer scientist and philosopher. Currently, I work as a research associate in the Natural Language and Information Processing (<a href="http://www.cl.cam.ac.uk/research/nl/">NLIP</a>) group at the <a href="https://cam.ac.uk">University of Cambridge</a>.</p>

<p>My research applies machine/deep learning to lexical semantic acquisition. How do neural models learn the meaning of words and to what extent does that reflect our own learning processes?</p>

<p>I am always looking for feedback and cooperation. If you want to comment on my blog, work together, or complain, email me at <a href="mailto:{{site.email}}">{{ site.email }}</a>.</p>

<p>I also have a long-standing interest in decision theory. Previously, I have published in social ontology, but I am no longer actively pursuing this interest.</p>

<p><img src="/assets/images/printing.jpg" alt="Illustration of typesetting"/></p>


{% for category in site.categories %}
  {% assign cat = category | first %}
  {% if cat == "posts" %}
    <h3>New blog posts</h3>
  {% else %}
    <h3>New {{ cat }}</h3>
  {% endif %}
  <ul>
  {% for post in site.categories[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}
