<footer>

  <table width="100%" border="0">
      <tr>
          <td>
              Find me on:
              <a href="{{ site.social.mastodon_url }}">
                  <em>Mastodon</em>
              </a>  &middot;
            <a href="{{ site.social.linkedin_url }}">
                <em>Linkedin</em>
            </a> &middot;
            <a href="mailto:{{ site.email }}">
                <em>{{ site.email }}</em>
            </a>  &middot;
            <a href="/feed.xml">
                <em>RSS</em>
            </a>
          </td>
      </tr>
  </table>

</footer>
