body {
  font-family: Helvetica, sans-serif;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 00%);
  width: 70%;
}

a {
    text-decoration: none;
}


a:link {
    color: #7b7b0b;
}
/* visited link */
a:visited {
    color: #51510a;
}
/* mouse over link */
a:hover {
    color: #A8A800;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 850px;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}

blockquote {
  font-style: italic;
}

blockquote p {
  padding: 15px;
  background-color: #eee;
  border-left: 5px solid #bbb;
  max-width: 700px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

code {
  display:inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 7%;
  margin-left: 7%;
  line-height: 1.6;
}

code.footer {
  display: inline;
  margin-left: 1%;
}

ol, ul {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
  max-width: 800px;
  line-height: 1.6;
}

h1 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  line-height: 1.6;
}

h2 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  line-height: 1.6;
}

h3 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  line-height: 1.6;
}

img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
}
