body {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


a:link {
    color: #7b7b0b;
}
/* visited link */
a:visited {
    color: #51510a;
}
/* mouse over link */
a:hover {
    color: #A8A800;
}

p {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 70px;
    margin-left: 70px;
    max-width: 450px;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}

blockquote {
    font-style: italic;
}

code {
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 70px;
    margin-left: 90px;
    line-height: 1.6;
}

code.footer {
    display: inline;
    margin-left: 10px;
}

ol, ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
    margin-left: 70px;
    line-height: 1.6;
}

h1 {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 50px;
    line-height: 1.6;
}

h2 {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 60px;
    line-height: 1.6;
}

h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 65px;
    line-height: 1.6;
}

img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
