---
layout: default
---
<article>

  <header>
    <h1>{{ page.title }}</h1>
    <p class="byline">
      <span>By {{ site.author }}</span>
      <time>&middot; {{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </header>

  {{ content }}

  {% assign cat = page.category | downcase %}
  {% for post in site.categories[cat] %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories[cat] %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}

  <script src="https://giscus.app/client.js"
          data-repo="dstrohmaier/dstrohmaier.github.io"
          data-repo-id="MDEwOlJlcG9zaXRvcnkxMjg5ODYxOTE="
          data-category="Q&A"
          data-category-id="DIC_kwDOB7AsT84CfsrR"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="transparent_dark"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>

  {% if prev_post or next_post %}
  <nav class="post-nav">
    {% if prev_post %}
      <a class="prev" href="{{ prev_post.url }}">
        <span class="label">Previous</span>
        <span>{{ prev_post.title | strip_html | truncate: 40 }}</span>
      </a>
    {% endif %}
    {% if next_post %}
      <a class="next" href="{{ next_post.url }}">
        <span class="label">Next</span>
        <span>{{ next_post.title | strip_html | truncate: 40 }}</span>
      </a>
    {% endif %}
  </nav>
  {% endif %}

</article>
